*{
    margin: 0;
    padding: 0;
}

.teamsection{
    display:flex;
    height: 100vh;
    width: 100%;
}

.teamsection .teamDescription{
    display: flex;
    flex-basis: 25%;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto';
    color: white;
    /* background-color: rgb(9, 9, 143); */
    /* background-color: rgb(36, 4, 87); */
    background-color: #002366;
    justify-content: center;
    /* align-items: center; */
}
.teamsection .teamDescription .heading{
    font-size: 2em;
    font-weight: 500;
    /* padding: 2em 2em 0em 2em; */
    width : 100%;
    padding : 20px 10%;
}

.teamsection .teamDescription .label{
    font-size: 1.5em;
    font-weight: 500;
    padding : 20px 10%;
}

.teamsection .teamDescription .text{
    font-size: 0.9em;
    font-weight: 300;
    padding : 20px 20% 20px 10%;
}
.teamsection .teamAvatar{
    display: flex;
    flex-basis:75% ;
    height: 100vh;
    flex-wrap:  wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f7fe;
    padding-bottom: 1em;
    padding-top: 1em;
 
}

.teamsection .teamAvatar .box{
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 200px;
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 10px; */
    padding-top: 0.5em;
    /* border-radius: 10px; */
    /* background-color: blueviolet; */
    /* background-color: #f2f7fe; */

}

.teamsection .teamAvatar .box .up{
    /* background:url('<img src="https://randomuser.me/api/portraits/men/1.jpg') ; */
    display: flex;
    flex-basis: 80%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

.teamsection .teamAvatar .box1 .up{
    background-color: blanchedalmond;
}
.teamsection .teamAvatar .box2 .up{
    background-color: rgb(236, 241, 236);
}
.teamsection .teamAvatar .box3 .up{
    background-color: rgb(118, 137, 245);
}
.teamsection .teamAvatar .box4 .up{
    background-color: gold;
}
.teamsection .teamAvatar .box5 .up{
    background-color: lightcoral;
}
.teamsection .teamAvatar .box6 .up{
    background-color: blanchedalmond;
}
.teamsection .teamAvatar .box7 .up{
    background-color: rgb(245, 183, 90);
}
.teamsection .teamAvatar .box8 .up{
    background-color: rgb(98, 82, 241);
}
.teamsection .teamAvatar .box9 .up{
    background-color: rgb(233, 85, 117);
}
.teamsection .teamAvatar .box10 .up{
    background-color: rgb(75, 240, 89);
}
.teamsection .teamAvatar .box11 .up{
    background-color: rgb(235, 166, 62);
}
.teamsection .teamAvatar .box12 .up{
    background-color: rgb(113, 45, 238);
}
.teamsection .teamAvatar .box13 .up{
    background-color: rgb(247, 186, 94);
}
.teamsection .teamAvatar .box14 .up{
    background-color: darkgreen;
}
.teamsection .teamAvatar .box15 .up{
    background-color: lightcoral;
}




.teamsection .teamAvatar .box .down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 0.6rem;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    /* color: white; */
}

.teamsection .teamAvatar .box .down .name{
    font-size: medium;
    /* margin-top: 0.3em; */
    color: #002366;
    margin-top: 0.5em;
}

.teamsection .teamAvatar .box .down .position{
    font-size: 0.7rem;
    margin-top: 0.2em;
    /* font-weight: ; */
    color: rgb(59, 59, 59);
}

@media screen and (max-width: 796px){
    .teamsection{
        display:flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .teamsection .teamDescription{
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        /* background-color: rgb(9, 9, 143); */
        background-color: rgb(36, 4, 87);
        margin-bottom: 0.5em;
        padding-bottom: 1.5em;
        height: auto;
        justify-content: center;
        /* align-items: center; */
    }

    .teamsection .teamAvatar{
        display: flex;
        flex-basis:60% ;
        height: auto;
        flex-wrap:  wrap;
        justify-content: space-around;
        align-items: center;
        background-color: #f2f7fe;
     
    }
}