.Apply{
    margin-top:     50px;
    height : 30vh;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    p{
        font-size: 4rem;
        font-weight: 200;
    }
    button {
        margin-top: 50px;
        border : solid 2px #717171;
        border-radius : 8px;
        background-color: black;
        color : white;
        width : 220px;
        height : 50px;
        font-size: 1.2rem;
        &:hover{
            cursor: pointer;
            background-color: white;
            color : black;
        }
    }
}

@media(min-width : 1800px) {
    .Apply{
        p{
            font-size : 6rem;
        }
        button{
            width : 340px;
            height : 70px;
            font-size: 2rem;
        }
    }
}