.container {
  width: 21%;
  height: 58%;
}

.card {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  text-align: center;
  font-family: 'Roboto';
  position: relative;
  z-index: 10;
  border-radius: 7px;
}

.card .back {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #002366;
  z-index: -80;
  justify-self: flex-start;
  border-radius: 8px 8px 0px 0px;
}

.card .Circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  z-index: 20;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.card .Circle img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  padding: 4%;
}

.card .name {
  font-weight: 500;
  font-size: 1.1rem;
  z-index: 20;
  margin-top: 40px;
  color: #002366;
}

.card .about {
  margin-top: -10%;
  font-weight: 400;
  font-size: 0.9rem;
  z-index: 20;
  padding: 4px 30px;
  color: #9fa6af;
}

.card .details {
  font-size: 0.8rem;
  padding: 0px 30px 30px 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #4b4b4b;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    text-align: center;
    font-family: 'Roboto';
    position: relative;
    z-index: 10;
    border-radius: 7px;
    margin: 50px 0px;
  }
  .card .back {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #4204d4;
    z-index: -80;
    justify-self: flex-start;
    border-radius: 8px 8px 0px 0px;
  }
  .card .Circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    z-index: 20;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-shadow: 0px 0px 10px #acacac;
            box-shadow: 0px 0px 10px #acacac;
  }
  .card .name {
    font-weight: 500;
    font-size: 1.1rem;
    z-index: 20;
    margin-top: 80px;
    color: #313131;
  }
  .card .about {
    margin-top: 3%;
    font-weight: 400;
    font-size: 1rem;
    z-index: 20;
    padding: 4px 30px;
    color: #607086;
  }
  .card .details {
    font-size: 0.8rem;
    padding: 0px 30px 30px 30px;
    margin-top: 5%;
    margin-bottom: 20px;
    text-align: left;
    color: #424242;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 75%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    text-align: center;
    font-family: 'Roboto';
    position: relative;
    z-index: 10;
    border-radius: 7px;
    margin: 50px 0px;
  }
  .card .back {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1b1820;
    z-index: -80;
    justify-self: flex-start;
    border-radius: 8px 8px 0px 0px;
  }
  .card .Circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    z-index: 20;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-shadow: 0px 0px 10px #acacac;
            box-shadow: 0px 0px 10px #acacac;
  }
  .card .name {
    font-weight: 500;
    font-size: 1.6rem;
    z-index: 20;
    margin-top: 30%;
    color: #313131;
  }
  .card .about {
    margin-top: 5%;
    font-weight: 400;
    font-size: 1.3rem;
    z-index: 20;
    padding: 4px 30px;
    color: #607086;
  }
  .card .details {
    font-size: 1.3rem;
    padding: 0px 30px 70px 30px;
    margin-top: 7%;
    margin-bottom: 20px;
    text-align: center;
    color: #424242;
  }
}
/*# sourceMappingURL=mentorCards.module.css.map */