.left{
    font-family: 'Raleway';
    margin-top: 10%;
    display : flex;
    justify-content: center;
    box-sizing: border-box;
    .content {
        width: 38%;
        color : white;
        text-align: right;
        padding : 0px 25px;
        .Title {
            font-size: 1.5rem;
            font-weight: 600;
            
        }
    }
    .blank {
        width : 38%;
    }
    .circle{
        width : 24%;
        width : 22px;
        height : 22px;
        background-color: white;
        border-radius: 50%;
    }
}






@media(max-width : 576px) {
    .left{
        font-family: 'Raleway';
        margin-top: 10%;
        display : flex;
        justify-content: center;
        box-sizing: border-box;
        .content {
            width: 38%;
            color : white;
            text-align: right;
            padding : 0px 5px 0px 2px;
            font-size: 0.6rem;
            .Title {
                font-size: 0.7rem;
                font-weight: 600;
                
            }
        }
        .blank {
            width : 38%;
        }
        .circle{
            width : 24%;
            width : 22px;
            height : 22px;
            background-color: white;
            border-radius: 50%;
        }
    }
    
}










@media (min-width : 1800px) {
    .left{
        font-family: 'Raleway';
        margin-top: 10%;
        display : flex;
        justify-content: center;
        box-sizing: border-box;
        .content {
            width: 38%;
            color : white;
            text-align: right;
            padding : 0px 25px;
            font-size : 1.4rem;
            .Title {
                font-size: 2rem;
                font-weight: 600;
                
            }
        }
        .blank {
            width : 38%;
        }
        .circle{
            width : 24%;
            width : 22px;
            height : 22px;
            background-color: white;
            border-radius: 50%;
        }
    }
}