@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.CoursesMain{
  display : flex;
  flex-wrap: wrap;
  font-family: 'Roboto';
}

.App {
    height: 30vh;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2.5em;
    display : flex;
    align-items: center;
    width: 100%;
    background-color: #0e0250;
    display : flex;
    align-items: center;
    justify-content: center;
  }

  .App p{
    width : 100%;
    color : white;
  }



  
  .wrapper {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: #f2f7fe;
    /* background-color: #d6404526; */
    /* background-color: #0e0250; */
  }
  

  .wrapper .card .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    /* background: linear-gradient(90deg, rgb(0, 134, 18) 0%, rgb(213, 228, 0) 100%); */
    background-color: black;
    opacity : 0.6;
    /* z-index : 10; */
  }
  .wrapper .card1 .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    background: linear-gradient(90deg, rgb(16, 0, 26) 0%, rgb(0, 35, 122)100%);
    opacity : 0.7;
    /* z-index : 10; */
  }
  .wrapper .card2 .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    background: linear-gradient(90deg, rgb(0, 59, 0) 0%, rgb(38, 39, 0) 100%);
    opacity : 0.5;
    /* z-index : 10; */
  }

  .wrapper .card{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 65vh;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }
  
  .wrapper .card .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    background: url('../../assets/Online.jpg');
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
    background-size: cover;
    background-position: bottom;
  }

  .wrapper .card1{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 65vh;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }

  .wrapper .card1 .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
    background: url('../../assets/data.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
  }

  .wrapper .card2{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 65vh;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }

  .wrapper .card2 .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    background: url('../../assets/ml.jpg');
    background-size: contain;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
  }


  .wrapper .card .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .wrapper .card1 .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .wrapper .card2 .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }
  
  .wrapper .card .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 30px;
  }
  .wrapper .card .down p{
    padding-top: 40px;
    text-align: left;
    font-size: 0.9rem;
    color : rgb(53, 53, 53);
  }

  .wrapper .card1 .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 30px;
  }
  .wrapper .card1 .down p{
    padding-top: 40px;
    text-align: left;
    font-size: 0.9rem;
    color : rgb(53, 53, 53);
  }

  .wrapper .card2 .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 30px;
  }
  .wrapper .card2 .down p{
    padding-top: 40px;
    text-align: left;
    font-size: 0.9rem;
    color : rgb(53, 53, 53);
  }
  
  .wrapper .card .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }

  .wrapper .card1 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  
  .wrapper .card2 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper .card .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card1 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card2 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }
  
  .button{
    margin-top: 20px;
    display: flex;
    width: 50%;
    align-self: start;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #001742;
    /* background-color: white; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    /* box-shadow : 0px 0px 5px rgba(0,0,0,0.3) */
  }
  
  @media screen and (max-width: 576px) {
    .wrapper{
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      /* margin-left: 0; */
      /* margin-top: 0; */
      margin-bottom: 20px;
    }
  
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }
  }
  
  @media screen and (max-width: 796px) {
    .wrapper{
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      /* margin-left: 0; */
      /* margin-top: 0; */
      margin-bottom: 20px;
    }
  
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      background-color: white;
    }
  }
  
  /* team css */
  .wrapper_team {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .wrapper_team .left {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: center;
    background-color: #002366;
    /* align-items: center; */
    /* margin:40px;
    padding: 40px; */
  }
  
  .wrapper_team .right {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    background-color: rgb(248, 245, 245);
    color: rgb(36, 8, 8);
    font-family: monospace;
  }

  .wrapper_team .right .cardAvatar{
    display: flex;
    height: 40vh;
    width: 15%;
    background-color:teal;
  }
  
  .wrapper_team .right .up{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    /* background-color: lightcyan; */
  }
  .wrapper_team .right .down{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    /* background-color: lightgoldenrodyellow; */
  }
  
  .box {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 15vw;
    /* margin-right: 20px; */
    background-color: rgb(241, 76, 81);
    margin-right: 0.5em;
  }
  
  .box2{
    background-color: blanchedalmond;
  }
  
  .box3{
    background-color: darkseagreen;
  }
  
  .box4{
    background-color: rgb(118, 137, 245);
  }
  
  .box5{
    background-color: gold;
  }
  
  .box6{
    background-color: lightcoral;
  }
  
  .wrapper_team .left p{
    font-family: 'Jost', sans-serif;
    margin-left: 40px;
    margin-top: 5px;
    padding: 20px;
    color: white;
    
  }
  
  .wrapper_team .left h5{
    font-family: monospace;
    margin-left: 40px;
    margin-top: 10px;
    padding: 20px;
    font-weight: 900;
    font-size: 1.5em;
    color: #D64045;
    /* margin-right: 20px; */
  }
  
  .wrapper_team .left h1{
    /* font-family: 'Jost', sans-serif; */
    font-family: monospace;
    font-size: 3em;
    margin-left: 40px;
    margin-top: 10px;
    padding: 20px;
    font-weight: 900;
    /* color: #D64045; */
    color: white;
  }
  
  .box h5{
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    text-align: center;
  }
  
  .box p{
    /* margin-top: 20px; */
    font-family: 'Jost', sans-serif;
    text-align: center;
  }
  
  @media screen and (max-width: 796px){
    .wrapper_team{
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .wrapper_team .right{
      display: flex;
      flex-direction: column;
      height: auto;
    }
  
    .wrapper_team .right .up{
      display: flex;
      flex-direction: column;
    }
  
    .wrapper_team .right .down{
      display: flex;
      flex-direction: column;
    }
  
    .box {
      display: flex;
      flex-direction: column;
      height: 50vh;
      width: 80%;
      /* margin-right: 20px; */
      background-color: aqua;
      margin-bottom: 20px;
    }
  
    .box2{
      background-color: blanchedalmond;
    }
    
    .box3{
      background-color: darkseagreen;
    }
    
    .box4{
      background-color: rgb(118, 137, 245);
    }
    
    .box5{
      background-color: gold;
    }
    
    .box6{
      background-color: lightcoral;
    }
  }
  







  /* mobile view */
  @media screen and (max-width: 576px){
    .wrapper_team{
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .wrapper_team .right{
      display: flex;
      flex-direction: column;
    }
/*   
    .wrapper_team .right .up{
      display: flex;
      flex-direction: column;
    }
  
    .wrapper_team .right .down{
      display: flex;
      flex-direction: column;
    }
   */
    .box {
      display: flex;
      flex-direction: column;
      height: 30vh;
      width: 80%;
      /* margin-right: 20px; */
      background-color: aqua;
      margin-bottom: 20px;
    }
  
    .box2{
      background-color: blanchedalmond;
    }
    
    .box3{
      background-color: darkseagreen;
    }
    
    .box4{
      background-color: rgb(118, 137, 245);
    }
    
    .box5{
      background-color: gold;
    }
    
    .box6{
      background-color: lightcoral;
    }
  
    .wrapper_team .left {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
      /* justify-content: center; */
      /* align-items: center; */
      /* margin:40px; */
      /* padding: 40px; */
    }
  
    .wrapper_team .left p{
      font-family: 'Jost', sans-serif;
      /* padding-left: 40px; */
      /* padding-right: 40px; */
      /* padding-top: 10px; */
    }
    
    .wrapper_team .left h5{
      font-family: 'Jost', sans-serif;
      /* padding-left: 40px; */
      padding-top: 20px;
      font-weight: 900;
      /* margin-right: 20px; */
    }
    
    .wrapper_team .left h1{
      font-family: 'Jost', sans-serif;
      /* padding-left: 40px; */
      font-weight: 900;
    }
  }
  
  @media screen and (max-width: 576px) {

    .CoursesMain .App p{
      font-size: 2rem;
    }
    .wrapper{
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      /* margin-left: 0; */
      /* margin-top: 0; */
      margin-bottom: 0px;
      padding-top : 50px;
    }
  
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
      padding : 0px;
      margin : 10px 0px;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
      padding : 0px;
      margin : 10px 0px;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
      padding : 0px;
      margin : 10px 0px;
    }
  }
  