@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.CoursesMain{
  display : flex;
  flex-wrap: wrap;
  font-family: 'Roboto';
  height : auto;
  /* padding : 200px 0px; */
}

.App {
    height: 75vh;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.2rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #0e0250;
    display : flex;
    align-items: center;
    justify-content: center;
  }

  .App .Desc{
    /* width : 20vh; */
    width : 100%;
    height : 40vh;
    display : flex;
    flex-direction: column;
  }
  .App .Desc .checks1{
    display : flex;
    width : 100%;
  }
  .App .Desc .DescP{
    width : 100%;
    text-align: center;
    font-size: 1.2rem;
    color : white;
    font-family: 'Raleway';
    height : 20vh;
    display : flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
  }

  .App .Desc .check{
    height : 40vh;
    width : 33%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .App .Desc .check img{
    width : 10%;
  }
  .App .Desc .check p{
    text-align: center;
    color : white;
    padding : 10px 60px;
    font-size: 1rem;
    font-weight: 300;
  }
  .App .Line{
    height : 1px;
    width : 60%;
    background-color: white;
    margin : 40px 0px;
  }
  .App p{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    color : white;
    height : 10vh;
    font-size: 1.7rem;
  }



  
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: #f2f7fe;
    padding-top: 4em;
    padding-bottom: 5em;
    /* background-color: #d6404526; */
    /* background-color: #0e0250; */
  }
  

  .wrapper .card .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    /* background: linear-gradient(90deg, rgb(0, 134, 18) 0%, rgb(213, 228, 0) 100%); */
    background-color: black;
    opacity : 0.6;
    /* z-index : 10; */
  }
  .wrapper .card1 .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    background: linear-gradient(90deg, rgb(16, 0, 26) 0%, rgb(0, 35, 122)100%);
    opacity : 0.7;
    /* z-index : 10; */
  }
  .wrapper .card2 .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    background: linear-gradient(90deg, rgb(0, 59, 0) 0%, rgb(38, 39, 0) 100%);
    opacity : 0.5;
    /* z-index : 10; */
  }

  .wrapper .card3 .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    background: linear-gradient(90deg, rgb(59, 0, 13) 0%, rgb(38, 39, 0) 100%);
    opacity : 0.5;
    /* z-index : 10; */
  }

  .wrapper .card4 .up .gradient{
    width : 100%;
    height : 100%;
    position : absolute;
    background: linear-gradient(90deg, rgb(5, 56, 165) 0%, rgb(38, 39, 0) 100%);
    opacity : 0.5;
    /* z-index : 10; */
  }

  .wrapper .card{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 70vh;
    margin-left: 50px;
    margin-bottom: 1em;
    margin-top: 2em;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }
  
  .wrapper .card .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    background: url('../../assets/dsacard.jpg');
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
    background-size: cover;
    background-position: bottom;
  }

  .wrapper .card1{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 70vh;
    margin-left: 50px;
    margin-bottom: 1em;
    margin-top: 2em;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }

  .wrapper .card1 .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
    background: url('../../assets/dsadvancedcard.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
  }

  .wrapper .card2{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 70vh;
    margin-left: 50px;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }

  .wrapper .card2 .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    background:url('../../assets/datasciencecard.jpg');
    background-size: cover;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
  }

  .wrapper .card3{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 70vh;
    margin-left: 50px;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }

  .wrapper .card3 .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    background: url('../../assets/fullstackcard.jpg');
    background-size: cover;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
  }

  .wrapper .card4{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 60vh;
    margin-left: 50px;
    margin-top: 4em;
    margin-bottom: 1em;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    position : relative;
    overflow: hidden;
  }

  .wrapper .card4 .up{
    display: flex;
    height : 35%;
    justify-content: center;
    align-items: center;
    background: url('../../assets/fullstackadvancedcard.jpg');
    background-size: cover;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position : relative;
  }


  .wrapper .card .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .wrapper .card1 .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .wrapper .card2 .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .wrapper .card3 .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .wrapper .card4 .up h3{
    text-align: center;
    font-family: 'Open Sans';
    padding: 0.9em;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }
  
  .wrapper .card .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 15px;
  }
  .wrapper .card .down p{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: justify;
    padding-top: 40px;
    height: 190px;
    color : rgb(53, 53, 53);
  }

  .wrapper .card1 .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 15px;
  }
  .wrapper .card1 .down p{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: justify;
    padding-top: 40px;
    height: 180px;
    color : rgb(53, 53, 53);
  }

  .wrapper .card2 .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 15px;
  }
  .wrapper .card2 .down p{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: justify;
    padding-top: 40px;
    height: 150px;
    color : rgb(53, 53, 53);
  }

  .wrapper .card3 .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 15px;
  }
  .wrapper .card3 .down p{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: justify;
    padding-top: 40px;
    height: 180px;
    color : rgb(53, 53, 53);
  }

  .wrapper .card4 .down{
    display: flex;
    flex-direction: column; 
    padding : 0px 30px;
  }
  .wrapper .card4 .down p{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    height: 150px;
    color : rgb(53, 53, 53);
  }
  
  .wrapper .card .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper .card .bottom a{
    width : 150px;
    text-decoration: none;
  }

  .wrapper .card1 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper .card1 .bottom a{
    width : 150px;
    text-decoration: none;
  }
  
  .wrapper .card2 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper .card2 .bottom a{
    width : 150px;
    text-decoration: none;
  }

  .wrapper .card3 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper .card3 .bottom a{
    width : 150px;
    text-decoration: none;
  }

  .wrapper .card4 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper .card4 .bottom a{
    width : 150px;
    text-decoration: none;
  }

  .wrapper .card .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card1 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card2 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card3 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card4 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }
  
  .button{
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-self: start;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #001742;
    /* background-color: white; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    /* box-shadow : 0px 0px 5px rgba(0,0,0,0.3) */
  }
  .button:hover{
    cursor: pointer;
  }
  
  @media screen and (max-width: 576px) {
    .wrapper{
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      /* margin-left: 0; */
      /* margin-top: 0; */
      margin-bottom: 20px;
    }
  
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card3{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card4{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }
  }
  
  @media screen and (max-width: 796px) {
    .wrapper{
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      /* margin-left: 0; */
      /* margin-top: 0; */
      margin-bottom: 20px;
    }
  
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }
    .wrapper .card3{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }

    .wrapper .card4{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }
    .wrapper .card .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: 220px;
    }
    .wrapper .card1 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: 220px;
    }
    .wrapper .card2 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: 150px;
    }
    .wrapper .card3 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: 220px;
    }
    .wrapper .card4 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: 150px;
    }
  }
  
  @media(max-width : 798px) {
    .App{
      height : auto;
    }
    .App .Desc{
      width : 100%;
      height : auto;
      display : flex;
      flex-direction: column;
    }
    .App .Desc .checks1{
      display : flex;
      width : 100%;
      flex-wrap: wrap;
    }
    .App .Desc .DescP{
      width : 100%;
      text-align: center;
      font-size: 1.2rem;
      color : white;
      font-family: 'Raleway';
      height : 20vh;
      display : flex;
      align-items: center;
      justify-content: center;
      margin-top: 1%;
    }
  
    .App .Desc .check{
      height : 15vh;
      width : 100%;
      display : flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding : 0px 40px;
    }
    .App .Desc .check img{
      width : 20%;
    }
    .App .Desc .check p{
      text-align: center;
      color : white;
      padding : 10px 20px;
      font-size: 0.8rem;
      font-weight: 300;
    }
  }

  @media(max-height : 700px) {
    .wrapper .card{
      height : 60vh;
    }
    .wrapper .card1{
      height : 60vh;
    }
    .wrapper .card2{
      height : 60vh;
    }
    .wrapper .card3{
      height : 60vh;
    }
    .wrapper .card4{
      height : 60vh;
    }
  }

  @media(max-width : 330px){
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 90vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
      font-size : 12px;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 90vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 90vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }
    .wrapper .card3{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 90vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }

    .wrapper .card4{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      margin-left: 0;
      background-color: white;
    }
    .wrapper .card .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: auto;
    }
    .wrapper .card1 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: auto;
    }
    .wrapper .card2 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: auto;
    }
    .wrapper .card3 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: auto;
    }
    .wrapper .card4 .down p{
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      text-align: center;
      padding-top: 30px;
      height: 150px;
    }
  }