@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* .App {
    height: 20vh;
    text-align: center;
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 80;
    font-size: 1.5em;
  } */
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {

    /* margin-left: 200px; */
    /* margin-right: 200px; */
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  
  
  }
  
  .wrapper .card{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50vh;
    margin-left: 50px;
    /* align-content: space-between; */
    background-color: white;
    /* box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2); */
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
                6px 6px 20px rgba(0,0,0,0.2);
    border-radius: 10px;

  }
  
  .wrapper .card .up{
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(5, 15, 150); */
    /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }

  .wrapper .card1{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50vh;
    margin-left: 50px;
    /* align-content: space-between; */
    background-color: white;
    /* box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2); */
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
                6px 6px 20px rgba(0,0,0,0.2);
    border-radius: 10px;

  }

  .wrapper .card1 .up{
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    
  }

  .wrapper .card2{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50vh;
    margin-left: 50px;
    /* align-content: space-between; */
    background-color: white;
    /* box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2); */
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
                6px 6px 20px rgba(0,0,0,0.2);
    border-radius: 10px;

  }

  .wrapper .card2 .up{
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    
    
  }


  .wrapper .card .up h3{
    /* padding: 10px; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.9em;
  }

  .wrapper .card1 .up h3{
    /* padding: 10px; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.9em;
  }

  .wrapper .card2 .up h3{
    /* padding: 10px; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.9em;
  }
  
  .wrapper .card .down{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    
  
  }

  .wrapper .card1 .down{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    
  
  }

  .wrapper .card2 .down{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    
  
  }
  
  .wrapper .card .down p{
    padding-top: 40px;
    /* padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    text-align: center;
  }

  .wrapper .card1 .down p{
    padding-top: 40px;
    /* padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    text-align: center;
  }

  .wrapper .card2 .down p{
    padding-top: 40px;
    /* padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    text-align: center;
  }
  
  .wrapper .card .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }

  .wrapper .card1 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  
  .wrapper .card2 .bottom {
    display: flex;
    margin-top: 0.8em;
    flex-basis: 15%;
    justify-content: center;
    align-items: flex-start;
  }
  .wrapper .card .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card1 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }

  .wrapper .card2 .card_footer{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-end;
  }
  
  .button{
    display: flex;
    width: 110px;
    align-self: center;
    height: 45px;
    border: none;
    border-radius: 22px;
    text-decoration: none;
    background-color: rgb(29, 190, 91);
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  @media screen and (max-width: 450px) {
    .wrapper{
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      /* margin-left: 0; */
      /* margin-top: 0; */
      margin-bottom: 20px;
    }
  
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin-left: 50px; */
      margin-bottom: 20px;
      background-color: white;
    }
  }
  
  @media screen and (max-width: 796px) {
    .wrapper{
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      /* margin-left: 0; */
      /* margin-top: 0; */
      margin-bottom: 20px;
    }
  
    .wrapper .card{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card1{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      background-color: white;
    }

    .wrapper .card2{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 50vh;
      /* margin: 20px; */
      margin-bottom: 20px;
      background-color: white;
    }
  }
  
  /* team css */
  .wrapper_team {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .wrapper_team .left {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: center;
    background-color: #002366;
    /* align-items: center; */
    /* margin:40px;
    padding: 40px; */
  }
  
  .wrapper_team .right {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    background-color: rgb(248, 245, 245);
    color: rgb(36, 8, 8);
    font-family: monospace;
  }
  
  .wrapper_team .right .up{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    /* background-color: lightcyan; */
  }
  .wrapper_team .right .down{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    /* background-color: lightgoldenrodyellow; */
  }
  
  .box {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 15vw;
    /* margin-right: 20px; */
    background-color: rgb(241, 76, 81);
    margin-right: 0.5em;
  }
  
  .box2{
    background-color: blanchedalmond;
  }
  
  .box3{
    background-color: darkseagreen;
  }
  
  .box4{
    background-color: rgb(118, 137, 245);
  }
  
  .box5{
    background-color: gold;
  }
  
  .box6{
    background-color: lightcoral;
  }
  
  .wrapper_team .left p{
    font-family: 'Jost', sans-serif;
    margin-left: 40px;
    margin-top: 5px;
    padding: 20px;
    color: white;
    
  }
  
  .wrapper_team .left h5{
    font-family: monospace;
    margin-left: 40px;
    margin-top: 10px;
    padding: 20px;
    font-weight: 900;
    font-size: 1.5em;
    color: #D64045;
    /* margin-right: 20px; */
  }
  
  .wrapper_team .left h1{
    /* font-family: 'Jost', sans-serif; */
    font-family: monospace;
    font-size: 3em;
    margin-left: 40px;
    margin-top: 10px;
    padding: 20px;
    font-weight: 900;
    /* color: #D64045; */
    color: white;
  }
  
  .box h5{
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    text-align: center;
  }
  
  .box p{
    /* margin-top: 20px; */
    font-family: 'Jost', sans-serif;
    text-align: center;
  }
  
  @media screen and (max-width: 796px){
    .wrapper_team{
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .wrapper_team .right{
      display: flex;
      flex-direction: column;
      height: auto;
    }
  
    .wrapper_team .right .up{
      display: flex;
      flex-direction: column;
    }
  
    .wrapper_team .right .down{
      display: flex;
      flex-direction: column;
    }
  
    .wrapper_team .right .up .box {
      display: flex;
      flex-direction: column;
      height: 50vh;
      width: 80%;
      /* margin-right: 20px; */
      background-color: aqua;
      margin-bottom: 20px;
    }
  
    .box2{
      background-color: blanchedalmond;
    }
    
    .box3{
      background-color: darkseagreen;
    }
    
    .box4{
      background-color: rgb(118, 137, 245);
    }
    
    .box5{
      background-color: gold;
    }
    
    .box6{
      background-color: lightcoral;
    }
  }
  
  /* mobile view */
  @media screen and (max-width: 450px){
    .wrapper{
      /* width : 200px; */
      /* background-color: brown; */
      margin : 0px;
      width: 20%;
      padding : 0px;

    }
    .wrapper .card{
      padding : 0px;
      margin-left : 0px;
    }
    .wrapper_team{
      display: flex;
      flex-direction: column;

      height: auto;
    }
    .wrapper_team .right{
      display: flex;
      flex-direction: column;
    }
  
    .wrapper_team .right .up{
      display: flex;
      flex-direction: column;
    }
  
    .wrapper_team .right .down{
      display: flex;
      flex-direction: column;
    }
  
    .box {
      /* overflow: hidden; */
      display: flex;
      flex-direction: column;
      height: 30vh;
      width: 80%;
      /* margin-right: 20px; */
      background-color: aqua;
      margin-bottom: 20px;
    }
  
    .box2{
      background-color: blanchedalmond;
    }
    
    .box3{
      background-color: darkseagreen;
    }
    
    .box4{
      background-color: rgb(118, 137, 245);
    }
    
    .box5{
      background-color: gold;
    }
    
    .box6{
      background-color: lightcoral;
    }
  
    .wrapper_team .left {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
      /* justify-content: center; */
      /* align-items: center; */
      /* margin:40px; */
      /* padding: 40px; */
    }
  
    .wrapper_team .left p{
      font-family: 'Jost', sans-serif;
      /* padding-left: 40px; */
      /* padding-right: 40px; */
      /* padding-top: 10px; */
    }
    
    .wrapper_team .left h5{
      font-family: 'Jost', sans-serif;
      /* padding-left: 40px; */
      padding-top: 20px;
      font-weight: 900;
      /* margin-right: 20px; */
    }
    
    .wrapper_team .left h1{
      font-family: 'Jost', sans-serif;
      /* padding-left: 40px; */
      font-weight: 900;
    }
  }
  
  div{
    margin-left : 0px;
    padding-left : 0px;
  }