$bg : #E7FFCE;
$bg1 : #0f3647;

.container{
    width : 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f7fe;
    align-items: center;
    justify-content: center;
    p{
        width: 100%;
        padding-left: 15%;
        font-size: 2rem;
        font-family: 'Roboto';
        color : #242424;
        height : auto;
        padding-top: 5%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
}
.CourseTestimonials {
        // margin-top: 100px;
    background-color: $bg;
    height : auto;
    padding : 20px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width : 100%;
    background-color: #f2f7fa;
    // background-color: #002366;
    
    .Testimonial{
        width : 28%;
        height : 350px;
        padding : 3% 3%;
        display : flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width : 576px) {
    .container{
        p{
            padding : 10px 30px;
            height : 200px;
            text-align: center;
        }
    }
    .CourseTestimonials{
        .Testimonial{
            width : 85%;   
            height : 300px; 
        }
    }
}

@media (min-width : 1800px) {
    .CourseTestimonials{
        .Testimonial{
            height: 600px;
        }
    }
}