.CurriculumFullStack{
    height : auto;
    padding : 50px 0px;
    /* margin-top : 150px; */
    /* background-color: #0024660c; */
    background-color: #f2f7fa;
    /* background-color: rgba(214, 64, 69, 0.055); */
    /* margin-bottom : -10%; */
}

.CurriculumFullStack .title{
    background-color: #00246600;
    text-align: left;
    font-family: 'Roboto';
    font-size: 3rem;
    margin-bottom: 90px;
    font-weight: 200;
    width : 100%;
    padding-left : 15%;

    /* margin-top: -100px; */
}