@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.footer_section{
    display: flex;
    height: 35vh;
    width: 100%;
    background-color: azure;
    justify-content: space-around;
}

.footer_section .col {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    /* background-color: bisque; */
    justify-content: center;
    height: 40vh;
    /* align-items: center; */

}

.footer_section .col h1{
    margin-bottom:15px ;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer_section .col p{
    margin-bottom: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer_down {
    display: flex;
    background-color: azure;
    height: 10vh;
    width: 100%;
}

.footer_down .col1{
    display: flex;
    /* background-color: bisque; */
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vh;
}

.footer_down .col2{
    display: flex;
    width: 10vw;
    /* background-color: blue; */
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer_down .col3 {
    display: flex;
    flex-direction: co;
    width: 15vw;
    height: auto;
    /* background-color: blue; */
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 796px){
    .footer_section{
        display: flex;
        flex-direction: column;
        height: auto;
        
    }

    .footer_section .col{
        display: flex;
        margin-left: 10px;
    }

    .footer_down{
        display: flex;
        /* flex-direction: column; */
        height: auto;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .footer_down .col1{
        margin-left: 10px;
    }

}