.divMargin {
    height : 12vh;
    background-color: white;
    width: 100%;
}
.mentors{
    font-family: 'Roboto';
    text-align: center;
    font-weight: 200;
    font-size: 11vh;
    margin : 4% 0px 12% 0px;
    width : 100%;
}

.divMentors{
    height : 60vh;
    background-color: white;
    width : 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding : 0px 10%;
}

@media(max-width : 576px) {
    .divMargin{
        height : 80px;
    }
    .divMentors{
        flex-direction : column;
        height : auto;
        padding : 30px 0px;
    }
}