.accordion{
    height : auto;
    margin : 40px 0px;
    padding : 30px 0px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    // background-color: rgb(245, 245, 245);
    .acctitle{
        width : 100%;
        font-size: 2.4rem;
        font-weight: 400;
        margin : 20px 0px 10px 0;
        text-align: left;
        padding-left : 10%;
        color : #002366;
    }
    .acccontainer{
        background-color: #F9F9F9;
        width: 100%;
        padding : 0% 5%;
        .accitem{
            display : flex;
            flex-direction: column;
            .acclink{
                display: flex;
                justify-content: space-between;
                background-color: white;
                color : rgb(56, 56, 56);
                padding : 3% 2%;
                margin : 4px 0px;
                text-decoration: none;
                font-size: 1.3rem;
                position : relative;
                border-radius: 5px;
                box-shadow : 0px 0px 10px rgba(0,0,0,0.1);
                :nth-child(2) {
                    display: none;
                }
                &:hover{
                    cursor : pointer;
                }
            }
            .accanswer{
                color : rgb(41, 41, 41);
                background-color: rgb(207, 207, 207);
                max-height : 0px;
                overflow: hidden;
                position : relative;
                font-weight: bold;
                transition : max-height 0.65s;
                p{
                    padding : 2%;
                }
            }
            .accOpen{

                max-height: 200px;
                .answer{
                    max-height: 200px;
                }
            }
            // &:target .answer{
            //     max-height: 200px;
            // }
            // &:target .link{
            //     :nth-child(1) {
            //         display : none;
            //     }
            //     :nth-child(2) {
            //         display : block;
            //     }
            // }
        }
    }
}

@media(min-width : 1800px) {
    .accanswer{
        font-size: 1.3rem;
    }
    .acccontainer .accitem .acclink{
        font-size: 1.7rem;
    }
}

@media(max-width : 576px) {

    .accaccordion{
        .acctitle{
            font-size: 2rem;
            padding-left : 0px;
        }
        .acccontainer{
            .accitem{
                .acclink{
                    font-size: 0.5rem;
                }
                .answer{
                    font-size: 0.5rem;
                }
            }
        }
    }
}