.SupportBanner{
    width : 100%;
    height : auto;
    display : flex;
    flex-direction: column;
    background-color: #0e0250;
    font-family: 'Roboto';
    justify-content: space-evenly;
    align-items: center;
    .TopText{
        color : white;
        text-align: center;
        font-weight: 500;
        font-family: 'Raleway';
        padding : 40px 0px;
        font-size : 1.5rem;
    }
    .Line{
        width : 32%;
        height : 1px;
        background-color: white;
        margin : 10px 0px;
    }
    .body{
        padding : 50px 0px;
        height : auto;
        display : flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        .Circle{
            position : absolute;
            width : 100px;
            height : 100px;
            background-color: white;
            
        }
        .Item{
            width : 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width : 20%;
            }
            p{
                color : white;
                padding : 10px 70px;
                text-align: center;
            }
        }
    }
    .BottomText{
            color : white;
            text-align: center;
            font-weight: 500;
            font-family: 'Raleway';
            padding : 40px 0px;
            font-size : 1.5rem;
    }
}


@media(max-width : 768px) {
    .SupportBanner{
        .TopText{
            font-size: 1.2rem;
            padding : 30px 50px;
        }
        .BottomText{
            font-size: 1.2rem;
            padding : 30px 50px;
        }
        .Line{
            width : 70%;
        }
        .body{
            .Item{
                width : 100%;
                margin : 20px 0px;
            }
        }
    }
}