@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.wrapper .banner {
    display: flex;
    height: 30vh;
    width: 100%;
    /* align-self: center; */
    border-radius: 10px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
    transition: 0.4s ease-in-out;
}

/* .wrapper .banner:hover{
    width:72%;
    height: 32vh;
    margin-bottom: 0.3em;
} */

.wrapper .banner .left {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    /* letter-spacing: 0.1em; */
}

.wrapper .banner .left h2{
    color: white;
    /* font-family: monospace; */
    font-family: 'Jost', sans-serif;
    padding:30px;
    font-weight: 900;
    margin-left: 0.2em;
}

.wrapper .banner .right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top: 10px;
    display: flex;
    width: 150px;
    align-self: center;
    height: 50px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    background-color: rgb(119, 141, 250, 0.5);
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 30px;
    transition: .5s;
}

.button:hover{
    margin-right: 5px;
}

@media screen and (max-width: 796px){
    .wrapper .banner {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90%;
        border-radius: 10px;
        background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
        /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
    }

    .wrapper .banner .left {
        display: flex;
        flex-basis: 30%;
        justify-content: center;
        align-items: center;
        /* letter-spacing: 0.1em; */
    }

    .wrapper .banner .left h2{
        color: white;
        /* font-family: monospace; */
        font-family: 'Jost', sans-serif;
        padding:30px;
        font-weight: 900;
        /* margin-left: 0.2em; */
        text-align: center;
    }

    .wrapper .banner .right {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
        justify-content: space-evenly;
        align-items: center;
    }
}